.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;

  & li {
    position: relative;

    margin-left: 0 !important;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;

    color: var(--color-primary-dark);

    background: var(--color-accent);

    &::after {
      content: '';

      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      border-radius: inherit;

      background-image: linear-gradient(
        to top,
        color-mix(in srgb, var(--color-primary) 15%, transparent),
        color-mix(in srgb, var(--color-primary) 0%, transparent)
      );
    }
  }
}

.Resume {
  display: flex;
  flex-direction: column;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  color: var(--color-primary);

  background-color: var(--color-background);

  li {
    margin-left: 2em;
  }

  & section {
    margin: 1em 0;
    padding: 0 2em;
    line-height: 1.5em;

    & article {
      margin-bottom: 1em;
    }
  }
}

.revision {
  margin: 0.5em 2em 0 0;
  font-size: 0.75em;
  text-align: end;
}

.masthead {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;

  text-align: center;

  background-image: radial-gradient(
    ellipse 100% 40%,
    color-mix(in srgb, var(--color-dimmed) 20%, transparent),
    color-mix(in srgb, var(--color-dimmed) 0%, transparent)
  );

  & ul {
    list-style: none;

    li {
      display: flex;
      gap: 0.5rem;
      justify-content: center;

      a {
        text-decoration: none;
      }
    }
  }

  & img {
    max-width: 10rem;
    border: 4px solid;
    border-radius: 50%;
  }
}

.meta {
  color: var(--color-secondary);
}

@media print {
  * {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
  }

  .masthead {
    justify-content: center;
    margin: 0;
    padding: 0;

    & ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0.5rem 0;
    }
  }

  .Resume {
    & section {
      margin: 0;
      padding: 0;
      line-height: normal;

      & article {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.25rem;
      }
    }
  }

  .revision {
    margin: 0;
  }

  .tagList {
    & li {
      position: relative;

      margin-left: 0 !important;
      padding: 0;
      border-radius: 0.2rem;

      color: var(--color-primary);

      background: none;

      &::after {
        content: '';

        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: inherit;

        background-image: none;
      }
    }
  }
}
