.BlogContainer {
  display: flex;
  flex-direction: column;
  place-items: center;

  min-height: calc(100dvh - var(--navbar-height) - var(--footer-height));

  color: var(--color-primary);

  background-color: var(--color-background);

  .BlogPost {
    width: 100%;
    margin: 2.5%;
    padding: 2.5%;
  }
}

.BlogTOC {
  display: flex;
  flex-direction: column;
  place-items: center;

  width: fit-content;
  margin: 2.5%;
  padding: 1%;

  color: var(--color-primary);
  text-align: center;

  background-color: color-mix(
    in srgb,
    var(--color-background),
    var(--color-secondary)
  );
  border: 0.5em solid var(--color-secondary);

  table {
    a {
      color: var(--color-green1-dark);
    }

    tr:nth-child(even) {
      background-color: var(--color-secondary);
    }
  }
}
