@font-face {
  font-family: 'Romanum Est';
  src: url('../../../public/assets/fonts/Romanum Est.ttf') format('truetype');
}

.img {
  max-width: 100%;
  height: 65dvh;
}

.main > audio {
  display: block;
  width: 100%;
  height: 100px;
}

.container,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  overflow: hidden;
  align-items: center;

  width: 100%;
  height: 100dvh;

  font-size: 2rem;

  background: black;
}

.coolText {
  font-family: 'Romanum Est', fantasy;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.ramble {
  color: white;
  text-align: center;
}

.footer {
  justify-self: flex-end;
  font-size: 1.2rem;
}
