:root {
  --navbar-height: 4.5rem;
  --footer-height: 2.5rem;

  /* Light Colors */
  --color-bg-light: #fbf1c7;
  --color-bg0-light: var(--color-bg-light);
  --color-bg1-light: #ebdbb2;
  --color-bg2-light: #d5c4a1;
  --color-bg3-light: #bdae93;
  --color-bg4-light: #a89984;
  --color-grey-light: #928374;
  --color-grey0-light: #7c6f64;
  --color-grey1-light: var(--color-grey-light);
  --color-fg-light: #3c3836;
  --color-fg0-light: #282828;
  --color-fg1-light: var(--color-fg-light);
  --color-fg2-light: #504945;
  --color-fg3-light: #665c54;
  --color-fg4-light: #7c6f64;
  --color-red0-light: #cc241d;
  --color-red1-light: #9d0006;
  --color-green0-light: #98971a;
  --color-green1-light: #79740e;
  --color-yellow0-light: #d79921;
  --color-yellow1-light: #b57614;
  --color-blue0-light: #458588;
  --color-blue1-light: #076678;
  --color-purple0-light: #b16286;
  --color-purple1-light: #8f3f71;
  --color-aqua0-light: #689d6a;
  --color-aqua1-light: #427b58;
  --color-orange0-light: #d65d0e;
  --color-orange1-light: #af3a03;
  --color-background-light: var(--color-bg-light);
  --color-dimmed-light: var(--color-grey-light);
  --color-primary-light: var(--color-fg-light);
  --color-secondary-light: var(--color-blue0-light);
  --color-accent-light: var(--color-purple0-light);

  /* Dark Colors */
  --color-bg-dark: #282828;
  --color-bg0-dark: var(--color-bg-dark);
  --color-bg1-dark: #3c3836;
  --color-bg2-dark: #504945;
  --color-bg3-dark: #665c54;
  --color-bg4-dark: #7c6f64;
  --color-grey-dark: #928374;
  --color-grey0-dark: #a89984;
  --color-grey1-dark: var(--color-grey-dark);
  --color-fg-dark: #ebdbb2;
  --color-fg0-dark: #fbf1c7;
  --color-fg1-dark: var(--color-fg-dark);
  --color-fg2-dark: #d5c4a1;
  --color-fg3-dark: #bdae93;
  --color-fg4-dark: #a89984;
  --color-red0-dark: #cc241d;
  --color-red1-dark: #fb4934;
  --color-green0-dark: #98971a;
  --color-green1-dark: #b8bb26;
  --color-yellow0-dark: #d79921;
  --color-yellow1-dark: #fabd2f;
  --color-blue0-dark: #458588;
  --color-blue1-dark: #83a598;
  --color-purple0-dark: #b16286;
  --color-purple1-dark: #d3869b;
  --color-aqua0-dark: #689d6a;
  --color-aqua1-dark: #8ec07c;
  --color-orange0-dark: #d65d0e;
  --color-orange1-dark: #fe8019;
  --color-background-dark: var(--color-bg-dark);
  --color-dimmed-dark: var(--color-grey-dark);
  --color-primary-dark: var(--color-fg-dark);
  --color-secondary-dark: var(--color-blue0-dark);
  --color-accent-dark: var(--color-purple0-dark);

  /* Defaults */
  --color-background: var(--color-background-dark);
  --color-dimmed: var(--color-dimmed-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-accent: var(--color-accent-dark);

  color-scheme: light dark;

  @media (prefers-color-scheme: light) {
    --color-background: var(--color-background-light);
    --color-dimmed: var(--color-dimmed-light);
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-accent: var(--color-accent-light);
  }

  @media print {
    --navbar-height: 3rem;
    --footer-height: 1.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
}

#outlet {
  margin-top: var(--navbar-height);

  @media print {
    margin: 0;
  }
}
