.Footer {
  text-align: center;
  background-color: var(--color-background);
  background-image: linear-gradient(
    to bottom,
    rgb(1 0 0 / 20%),
    rgb(0 0 0 / 0%)
  );

  & strong {
    font-size: 1.45em;
    font-stretch: extra-condensed;
  }
}
