.Footer {
  position: relative;
  bottom: 0;

  overflow: hidden;

  height: var(--footer-height);

  text-align: center;

  background-color: var(--color-background);
  background-image: linear-gradient(
    to top,
    color-mix(in srgb, var(--color-accent) 20%, transparent),
    color-mix(in srgb, var(--color-accent) 0%, transparent)
  );

  & strong {
    font-size: 1.45em;
    font-stretch: extra-condensed;
  }
}
