.Navbar {
  position: fixed;
  z-index: 99;
  top: 0;

  container: navbar / inline-size;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--navbar-height);
  margin: 0;
  padding: 0 1em 0.2em;

  background-color: var(--color-background);
  background-image: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--color-dimmed) 20%, transparent),
    color-mix(in srgb, var(--color-dimmed) 0%, transparent)
  );
}

.menu {
  display: none;
}

.Navlogo {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff50f;
  text-decoration: none;
  text-shadow:
    0.25rem 0.25rem 0 #f071aa,
    -0.25rem -0.25rem 0 #39cad4,
    0.25rem -0.25rem 0 #67fc10,
    -0.25rem 0.25rem 0 #0380c6;

  -webkit-text-stroke: 0.75px #010000;
}

.Navlinks {
  & a {
    position: relative;

    font-size: 1.25rem;
    color: var(--color-primary-dark);
    text-decoration: none;

    background-color: var(--color-accent);
    border: 0.25em solid var(--color-accent);
    border-radius: 10%;

    &::after {
      content: '';

      position: absolute;
      z-index: 999;
      top: -0.25em;
      left: -0.25em;

      width: calc(100% + 0.5em);
      height: calc(100% + 0.5em);

      background-image: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--color-primary) 15%, transparent),
        color-mix(in srgb, var(--color-primary) 0%, transparent)
      );
      border-radius: inherit;
    }
  }

  &.open {
    position: absolute;
    top: 100%;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: calc(100dvh - var(--navbar-height));
    padding: 1rem;

    background: var(--color-background);
    border-right: 0.3rem var(--color-primary) solid;

    animation-name: skewIn, moveIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    a {
      text-align: center;
    }
  }

  &.closing {
    animation-name: skewOut, moveOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes moveIn {
  0% {
    transform: translate(-1rem);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes moveOut {
  to {
    transform: translate(-1rem);
    opacity: 0;
  }
}

@keyframes skewIn {
  0% {
    transform: skew(0deg, 10deg);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

@keyframes skewOut {
  to {
    transform: skew(0deg, 10deg);
    opacity: 0;
  }
}

@container navbar (max-width: 600px) {
  .NavlogoContainer {
    width: 100%;
    text-align: center;
  }

  .menu {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    height: var(--navbar-height);
    margin: calc(var(--navbar-height) - 3.75rem) 0 0 1rem;

    & button {
      font-size: 2rem;
      color: var(--color-primary);
      background: none;
      border: none;
    }
  }

  .Navlinks {
    display: none;
  }
}

@media print {
  .menu {
    display: none;
  }

  .Navbar {
    position: static;
  }
}
