:root {
  --navbar-height: 4.5rem;
  --footer-height: 2.5rem;
  --color-background-light: #fbfbfc;
  --color-dimmed-light: #fbfbfc;
  --color-primary-light: #191e23;
  --color-secondary-light: #6c7781;
  --color-accent-light: #0073aa;
  --color-background-dark: #282828;
  --color-dimmed-dark: #689d6a;
  --color-primary-dark: #ebdbb2;
  --color-secondary-dark: #83a598;
  --color-accent-dark: #689d6a;
  --color-background: var(--color-background-dark);
  --color-dimmed: var(--color-dimmed-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-accent: var(--color-accent-dark);

  color-scheme: light dark;

  @media (prefers-color-scheme: light) {
    --color-background: var(--color-background-light);
    --color-dimmed: var(--color-dimmed-light);
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-accent: var(--color-accent-light);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
}
